<br><br><br>
<h1 style="text-align:center;"><%=link_to 'BLOG', blog_posts_path %></h1>
<br>
<h1 style="text-align:center;"><%= link_to 'ABOUT', about_path %></h1>
<br>
<h1 style="text-align:center;"><%= link_to 'CONTACT', contact_path %></h1>
<br>